* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  /* background-image: url(./background.jpg); */
  background-size: cover;
  background-position: center;
  background-color: #222;
  height: 80px;
  line-height: 80px;
  padding: 10px;
  margin: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.list {
}

.canteen-card {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}

.canteen-header {
  display: flex;
  margin: 5px;
}

.canteen-status {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.canteen-title {
  margin-top: 2px;
  margin-left: 10px;
}

.weekday {
  flex: 1;
  text-align: right;
  margin: 3px;
}

.hours {
  flex: 1;
  text-align: left;
  margin: 3px;
}

bold {
  font-weight: bold;
}
